__pycache__
django_blog_ch18/b_env
django_blog_ch18/blog/__pycache__
django_blog_ch18/blogs/migrations
django_blog_ch18/db.sqlite3
django_webapp_ch18-19/m_env
django_webapp_ch18-19/meal_planner/db.sqlite3

django_webapp_ch18-19/meal_planner/meal_planner/__pycache__
django_webapp_ch18-19/meal_planner/meal_plans/migrations
django_webapp_ch18-19/meal_planner/meal_plans/__pycache__

django_webapp_ch18-19/pizzeria/p_env

django_webapp_ch18-19/pizzeria/db.sqlite3
django_webapp_ch18-19/pizzeria/pizzeria/__pycache__
django_webapp_ch18-19/pizzeria/pizzerias/__pycache__
django_webapp_ch18-19/pizzeria/pizzerias/migrations
